# SPDX-License-Identifier: GPL-2.0-only
config NVIDIA_VGPU_MGR
	tristate

config NVIDIA_VGPU_VFIO_PCI
	tristate "VFIO support for the NVIDIA vGPU"
	select NVIDIA_VGPU_MGR
	select VFIO_PCI_CORE
	help
	  VFIO support for the NVIDIA vGPU is required to assign the vGPU
	  to userspace using KVM/qemu/etc.

	  If you don't know what to do here, say N.
